body {
    font-family: sans-serif;
}

#shape {
    width: 200px;
    height: 200px;
    background-color: rgb(41, 14, 177);
    display: none;
    position: relative;
    
}
.bold {
    font-weight: bold;
    
}